.catalog {
    align-content: center;
    height: auto;
}


div.product{
    text-decoration-style: none;
    max-height: 300px;
    max-width: 250px;
    min-width: 275px;
    float: left;
    margin: 65px;
    margin-bottom: 0;
    padding: 20px;
    text-align: center;
    background-color: snow;
}

.faqlijst{
    align-self: center;
    text-align: center;
    margin-left: 20px;
}
